---
const today: Date = new Date();
import GitHubIcon from '../../integrations/GitHubIcon.astro';
import ZennIcon from '../../integrations/ZennIcon.astro';
import XIcon from '../../integrations/XIcon.astro';
import { GITHUB_URL, ZENN_URL, X_URL } from '../../../consts';
---

<footer>
  <div class="footer-content">
    &copy; {today.getFullYear()} wada. All rights reserved.
    <div class="social-links">
      <a href={GITHUB_URL} target="_blank" aria-label="Visit GitHub profile">
        <GitHubIcon />
      </a>
      <a href={ZENN_URL} target="_blank" aria-label="Visit Zenn profile">
        <ZennIcon />
      </a>
      <a href={X_URL} target="_blank" aria-label="Visit X profile">
        <XIcon />
      </a>
    </div>
  </div>
</footer>
<style>
  footer {
    width: 100%;
    padding: 2em 0 6em 0;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    text-align: center;
    margin: 0;
    box-sizing: border-box;
  }

  .footer-content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 1rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--color-text-secondary);
  }
  .social-links a:hover {
    color: var(--color-text);
  }

  @media (max-width: var(--tablet-breakpoint)) {
    .footer-content {
      padding: 0 var(--spacing-xs);
    }
  }
</style>
