---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION, GOOGLE_FORMS_URL } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} showSidebar={true}>
  <div class="page-container">
    <iframe src={GOOGLE_FORMS_URL} width="100%" height="642" style="border: none;">
      Loading…
    </iframe>
  </div>
</BaseLayout>
