---
import PostCard from './PostCard.astro';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  posts: CollectionEntry<'blog'>[];
  currentTag?: string;
}

const { posts, currentTag } = Astro.props;
---

<div class="posts-grid">
  {posts.map(post => <PostCard post={post} currentTag={currentTag} />)}
</div>
