---
const today: Date = new Date();
import GitHubIcon from './GitHubIcon.astro';
import { GITHUB_URL, ZENN_URL } from '../consts';
---

<footer>
  <div class="footer-content">
    &copy; {today.getFullYear()} Kohei Wada. All rights reserved.
    <div class="social-links">
      <a href={GITHUB_URL} target="_blank" aria-label="Visit GitHub profile">
        <GitHubIcon />
      </a>
      <a href={ZENN_URL} target="_blank" aria-label="Visit Zenn profile">
        <svg role="img" viewBox="0 0 24 24" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M.264 23.771h4.984c.264 0 .498-.147.645-.352L19.614.874c.176-.293-.029-.645-.381-.645h-4.72c-.235 0-.44.117-.557.323L.03 23.361c-.088.176.029.41.234.41zM17.445 23.419l6.479-10.408c.205-.323-.029-.733-.41-.733h-4.691c-.176 0-.352.088-.44.235l-6.655 10.643c-.176.264.029.616.352.616h4.779c.234-.001.468-.118.586-.353z"
          ></path></svg
        >
      </a>
    </div>
  </div>
</footer>
<style>
  footer {
    width: 100%;
    padding: 2em 0 6em 0;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    text-align: center;
    margin: 0;
    box-sizing: border-box;
  }

  .footer-content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 1rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--color-text-secondary);
  }
  .social-links a:hover {
    color: var(--color-text);
  }

  @media (max-width: var(--tablet-breakpoint)) {
    .footer-content {
      padding: 0 var(--spacing-xs);
    }
  }
</style>
